/* Layout styles */

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.home-main-section {
    display: block;
    background-image: url(images/perspectives_shot_edited.png);
    flex-grow: 1;
    /*border: 1px solid blue;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}

.home-main-section h1 {
    display: none;
}

.home-main-section .description {
    /*border: 1px solid green;*/
    width: 25em;
    font-size: 1em;
    position: absolute;
    bottom: 2em;
}