/* Text styles */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100vh;
    border: 1px solid red;
}

.main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav a {
    color: #28241E;
    font: 'Source Sans Pro';
    font-weight: bolder;
    text-decoration: none;
    padding: 1rem;
}

.main-nav a:hover {
    color: #adadad;
}

.main-nav {
    display: flex;
    height: 80px;
    justify-content: right;
    align-items: center;
}

.description {
    font-weight: 500;
    font-size: 2em;
    margin-bottom: 1rem;
    margin-top: 0;
}

.main-section h1 {
    font-size: 3em;
    border: 1px solid indianred;
    margin: 0em;
    padding-bottom: 0.4em;
}

.content {
    font: 'Source Sans Pro';
    text-decoration: none;
    font-weight: normal;
}

.content h2 {
    font-size: 1.6em;
    /*border: 1px solid purple;*/
    margin: 0em;
    padding-bottom: 0.3em;
    padding-top: 0.7em;
}

.content p {
    font-size: 1em;
    /*border: 1px solid goldenrod;*/
    margin: 0em;
    padding-bottom: 0.3em;
}