@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100vh;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav a {
    color: #28241E;
    font: 'Source Sans Pro';
    text-decoration: none;
    padding: 1rem;
}

.main-nav a:hover {
    color: #adadad;
}

.main-nav {
    display: flex;
    height: 80px;
    justify-content: right;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.description {
    font-weight: 500;
    font-size: 2em;
    margin-bottom: 1rem;
    margin-top: 0;
}